.message-container {
   height: calc(100vh - 90px);
}

.message-container .nav-pills {
   height: 40px;
   position: relative;
}
.message-container .nav-pills li {
   position: absolute;
   right: 0;

}

.message-list {
   margin-top: 10px;
   height: calc(90% - 10px);
   overflow: scroll;
}

.message-form{
   height: 10%;
}