.message-container {
   height: calc(100vh - 90px);
}

.message-container .nav-pills {
   height: 40px;
}

.message-list, iframe {
   margin-top: 10px;
   height: calc(90% - 10px);
   overflow: scroll;
}

iframe {
   overflow-x: hidden;
}

.message-form{
   height: 10%;
}