.navbar {
   margin-bottom: 0;
}
.navbar a {
   cursor: pointer
}
.profile-container {
   background: #fff;
   height: 40px;
   width: 40px;
   margin-top: 5px;
   cursor: pointer;
}
.profile-container img{
   width: 100%;
   height: auto;
}

.profile-container .auth-link {
   padding: 0
}