.modal-container {
   position: absolute;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   background: hsla(0, 0%, 0%, 0.5);
}
.modal-container .modal-body {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}
.modal-container .panel.panel-default {
   background: none;
}
.modal-container .panel-heading {
   background-color: #222;
   color: #fff;
}
.login .panel-body {
   padding: 10%;
   background-color: #bbb;
}
.login .panel-body div {
   margin: 5%;
}
.github-login, .guest-login {
   width: 80%;
}
